.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 90vh;
  }

  .container {
    width: 70vw;
    height: 80%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 70vw;
  }
}
